<div class="w-full">
  <h3 class="text-center text-blue-600 mb-4">Comment on Post</h3>

  <%= form_with model: @comment, url: user_post_comments_path do |form| %>
    <div>
      <%= 
        form.text_area :text, 
        placeholder: 'Write comment',
        class: "border-none rounded-md w-full mb-4",
        rows: 5,
        required: true 
      %>

      <ul>
      <% @post.errors.full_messages_for(:text).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>

    <div class="text-center">
      <%=
        form.submit "Submit",
        class: "btn-primary"  
      %>
    </div>

    <div class="w-full">
      <%= 
        link_to 'Go Back', user_path(current_user.id),
        class: "bg-gray-400 px-5 py-2 rounded hover:text-gray-50 hover:bg-gray-600" 
      %>
    </div>

  <% end %>
</div>