<div class="border-none p-4 mb-4 bg-blue-200 rounded-md">
  <h3 class="mb-2 text-blue-900">Post #<%= post.id %></h3>
  <div>
    <h4 class="uppercase text-blue-600 font-semibold"><%= post.title %></h4>
    <p class="text-gray-800 mb-3"><%= post.text %></p>
    <div>
      <span class="text-gray-500 pr-3 italic">Comments: <%= post.comments_counter %></span>
      <span class="text-gray-500 italic">Likes: <%= post.likes_counter %></span>
    </div>
  </div>
</div>