<div class="user-show-post">
  <%= render partial: "user_info", locals: {user: @user} %>
  <div class="w-3/4 mx-auto border-none">
    <div class="pt-4 pb-4">
      <h3 class="uppercase text-[1.5em]">Bio</h3>
      <p class="italic text-gray-600">
        <%= @user.bio %>
      </p>
    </div>

    <div class="">
      <% if @user.posts.empty? %>
      <div class="text-center p-4 bg-gray-100 mb-5 rounded-md">
        <p class="text-gray-400">No posts at the moment!</p>
        </div>

        <div>
          <%=
            link_to 'Create new post',
            new_user_post_path(@user),
            class: "text-blue-600 px-4 py-3 bg-blue-200 border-none rounded-md
              hover:text-gray-50 hover:bg-blue-600"
          %>
        </div>
      <% else %>
        <% @user.most_recent_posts.each do |post| %>
          <%= link_to user_post_path(@user.id, post.id) do %>
            <%= render partial: "user_post_card", locals: {post: post} %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <div>
  
  <div class="w-2/4 text-center bg-blue-200 mb-4 hover:text-gray-50 hover:bg-blue-600">
    <% if @user.posts_counter > 5 %>
      <%= link_to user_posts_path(@user.id) do %>
        <p class="see-all-posts">See all posts</p>
      <% end %>
    <% end %>
  </div>

  <% if current_user.id == @user.id %>
    <div class="flex flex-row items-center gap-5 mb-5">
      <%= 
        link_to 'Create Post',
        new_user_post_url(@user),
        class: "
          text-blue-600 px-4 py-2 bg-blue-200 border-none rounded-md
          hover:text-gray-50 hover:bg-blue-600
        "
      %>
    </div>
  <% end %>

  <div>
    <%= link_to 'Back', users_url, class: "bg-gray-400 px-5 py-2 rounded hover:text-gray-50 hover:bg-gray-600" %>
  </div>

</div>