<div class="user-specific-post">
  <%= render partial: "users/user_info", locals: {user: @user} %>

  <div class="post-info">
    <% @user.posts.each do |post| %>
      <%= link_to user_post_path(@user.id, post.id) do %>
        <%= render partial: "users/user_post_card", locals: {post: post} %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="new-post">
  <p>Add another post</p>
  <%= link_to 'Add New', new_user_post_url(@user) %>
</div>

<p>
  <%= link_to 'Go Back', user_path(@user.id) %>
</p>

<div>
    <p class="pagination">Pagination</p>
</div>

