<div class="create-post">
  <h2>Create a new post</h2>

  <span>
    <% @post.errors.full_messages_for(:title).each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </span>
  <span>
    <% @post.errors.full_messages_for(:text).each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </span>

  <%= form_with model: @post, url: user_posts_path do |form| %>
    <div class="field">
      <%= form.label :title%>
      <%= form.text_field :title, placeholder: "Enter title...", required: true %>
    </div>

    <div class="field">
      <%= form.label :text, "Write post:" %>
      <%= form.text_area :text, class: "post-text", required: true %>
    </div>

    <div class="add-post-btn">
      <%= form.submit  "Create Post" %>
    </div>
  <% end %>
</div>