<div class="post-container">
  <div class="post-details border">
    <div class="post-header">
      <h3>
        Post #<%= @post.id %> by <%= @user.name %>
      </h3>
      <p>
        Comments: <%= @post.comments_counter %> , Likes: <%= @post.likes_counter %>
      </p>
    </div>
    <p>
      <%= @post.text %>
    </p>
  </div>

  <div class="post-comments border">
    <% @post.comments.each do |comment| %>
      <p><%= comment.author.name %>: <%= comment.text %></p>
    <% end %>
  </div>

  <div class="comment-like">
    <div class="comment">
      <%= link_to 'Comment', new_user_post_comment_path(@user, @post) %>
    </div>
    
    <div>
      <%= form_with url: user_post_likes_path(@post.author, @post), method: :post do |form| %>
        <%= form.submit "Like", class:"like-btn"%>
      <% end %>
    </div>
  </div>

</div>
